page-about {
  .center{
    text-align:center;
  }

  .introduction{
    color : apple;
    font-size: 130%;
    height: auto;
    bottom: 0px;
    top: 150px;
    text-align: center;
    left: 0;
    position: absolute;
    padding: 100px;
  }

  .about-body{
    font-family: verdana, arial, sans-serif;
  }

}
